@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #FFF;;
}

header{
  background-color: #FFF;
  box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.10);
}
.countaner{
  width:calc(100% - 120px);
  background-color: #FFF;
  margin: auto;
  flex-wrap: wrap;
}
.active{
  font-weight:800;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.logo{
  display: flex;
  gap: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
p{
  color: #545BE8;
  font-style: normal;
  font-family: Roboto;
}
.navbar{
  margin: auto;
}
.navbar-item a{
  color:#101928;
  padding: 10px;
  text-decoration-line: none;
}
.login{
  margin: auto;
 padding: 20px;
 flex-wrap: wrap;
}
.login-item a{
  padding: 10px;
  text-decoration-line: none;
  flex-wrap: wrap;
}
.log{
  border-radius: 4.119px;
  border: 0.412px solid #545BE8;
  align-items: center;
}
.reg{
  border-radius: 4.119px;
background: #545BE8;
color: #FFF;
font-family: Inter;
font-weight: 700;
}
.





  


